.display {
  grid-column: 2/3;
  border: 1px solid black;
  box-sizing: border-box;
}

.display .content {
  font-size: 0.75em;
}

.display .content-empty {
  font-size: 0.75em;
  box-sizing: border-box;
  width: 300px;
  margin: 0 auto;
  text-align: center
}

.display .title {
  font-family: "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: bold;
  font-size: calc(10px + 1vw);
  margin: 20px;
  box-sizing: border-box;
}

.recipe-source {
  font-size: 0.75em;
  margin: 20px;
  box-sizing: border-box;
}

.display-image {
  object-fit: cover;
  margin: 5px auto;
  width: 250px;
  max-height: 250px;
  font-size: 0.75em;
  box-sizing: border-box;
  border-radius: 3px
}

@media all and (max-width: 850px) {
  .display {
    grid-column: 1/2;
    height: 60vh;
    border-top:none
  }

  .display .title {
    margin: 10px;
  }

  .recipe-source {
    margin: 10px;
    font-size: 0.6em;
  }
}
