.display {
  grid-column: 2/3;
  border: 1px solid black;
  box-sizing: border-box;
}

.display .content {
  font-size: 0.75em;
}

.display .content-empty {
  font-size: 0.75em;
  line-height: calc(100vh - 121px)
}

.display .title {
  font-family: "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: bold;
  /* font-size: 1.25em; */
  font-size: calc(10px + 1vw);
  margin: 20px;
  box-sizing: border-box;
}

.recipe-source {
  font-size: 0.75em;
  margin: 20px;
  box-sizing: border-box;
}

.display-image {
  background: 50% 50% no-repeat;
  object-fit: contain;
  margin: 5px auto;
  width: 250px;
  height: auto;
  font-size: 0.75em;
  box-sizing: border-box;
}

@media all and (max-width: 850px) {
  .display {
    grid-column: 1/2;
    height: 60vh;
  }

  .display-image {
    width: 200px;
  }

  .display .title {
    margin: 10px;
  }

  .recipe-source {
    margin: 10px;
    font-size: 0.6em
  }
}
