.title {
    height: 100px;
    color: white;
    background: rgb(143, 143, 143);
    padding: 10px 40px;
    border-bottom: 1px solid maroon;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 50px;
    text-align: left;
    line-height: 100px;
    background-image: url("https://images.unsplash.com/photo-1501960105977-e986e2f261fe?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=2889143f549096e401ac03dea3ed416a&auto=format&fit=crop&w=750&q=80");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0px 75%;
}

@media all and (max-width: 850px) {
    .title{
      padding: 0;
      text-align: center
    }
  }
  