.list-item {
  height: 60px;
  box-sizing: border-box;
  /* border: 1px solid black; */
  display: grid;
  grid-template-columns: 1fr 4fr;
  padding: 5px;
  border-bottom: 1px solid lightgray;
}

.list-item .image {
  width: 100%;
  height: 100%;
  object-fit: contain;
  grid-column: 1/2;
}

.list-item .list-content {
  grid-column: 2/3;
  text-align: left;
  font-weight: bold;
}
