.list-item {
  height: 60px;
  box-sizing: border-box;
  /* border: 1px solid black; */
  display: grid;
  grid-template-columns: 1fr 4fr;
  padding: 5px;
  border-bottom: 1px solid lightgray;
}

.list-item:hover {
  background: rgb(247, 247, 247);
}

.list-item .image {
  width: 100%;
  height: 50px;
  object-fit: contain;
  grid-column: 1/2;
}

.list-content {
  grid-column: 2/3;
  text-align: left;
  font-size: 0.85em;
}

.list-content .item-title {
  font-weight: bold;
}

.list-content .item-source {
  font-size: 0.75em;
}

.selected-list-item {
  background: rgb(231, 231, 231);
  height: 60px;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 1fr 4fr;
  padding: 5px;
  border-bottom: 1px solid lightgray;
}

.selected-list-item:hover {
  background: rgb(247, 247, 247);
}

.selected-list-item .image {
  width: 100%;
  height: 50px;
  object-fit: contain;
  grid-column: 1/2;
}
