.modalDialog {
	position: fixed;
	font-family: Arial, Helvetica, sans-serif;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.65);
	z-index: 99999;
	opacity:0;
	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
	pointer-events: none;
}

.modalDialog:target {
	opacity:1;
	pointer-events: auto;
}

.modal-content {
    width: 80%;
    height: 80%;
	position: relative;
	margin: 5% auto;
	padding: 10px;
    background: rgba(255, 255, 255);
    -moz-box-shadow: 2px 2px 3px #000;
	-webkit-box-shadow: 2px 2px 3px #000;
	box-shadow: 2px 2px 3px #000;
}

.close {
	background: rgb(153, 153, 153);
	color: #FFFFFF;
	line-height: 32px;
	position: absolute;
	right: -16px;
	text-align: center;
	top: -16px;
	width: 32px;
	text-decoration: none;
	font-weight: bold;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	-moz-box-shadow: 1px 1px 3px #000;
	-webkit-box-shadow: 1px 1px 3px #000;
	box-shadow: 1px 1px 3px #000;
}

.close:hover { background: #00d9ff; }

.iframe {
    height: 100%;
    width: 100%
}