.modal-popup {
  position: fixed;
  font-family: Arial, Helvetica, sans-serif;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.65);
  z-index: 99999;
  opacity: 0;
  -webkit-transition: opacity 400ms ease-in;
  -moz-transition: opacity 400ms ease-in;
  transition: opacity 400ms ease-in;
  pointer-events: none;
}

.modal-popup:target {
  opacity: 1;
  pointer-events: auto;
}

.modal-content {
  width: 80%;
  height: 80%;
  position: relative;
  margin: 5% auto;
  padding: 5px;
  box-sizing: border-box;
  background: rgba(255, 255, 255);
  -moz-box-shadow: 2px 2px 3px #000;
  -webkit-box-shadow: 2px 2px 3px #000;
  box-shadow: 2px 2px 3px #000;
  border-radius: 3px;
}

.close {
  background: rgb(153, 153, 153);
  color: #ffffff;
  line-height: 32px;
  position: absolute;
  right: -16px;
  text-align: center;
  top: -16px;
  width: 32px;
  text-decoration: none;
  font-weight: bold;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  -moz-box-shadow: 1px 1px 3px #000;
  -webkit-box-shadow: 1px 1px 3px #000;
  box-shadow: 1px 1px 3px #000;
}

.close:hover {
  background: #00d9ff;
}

.iframe {
  height: 91%;
  width: 100%;
}

.modal {
  width: 100%;
  box-sizing: border-box;
}

.view-recipe {
  background: rgb(153, 153, 153);
  color: #ffffff;
  text-decoration: none;
  font-size: 0.7em;
  width: 250px;
  padding: 5px 15px;
  margin: 10px auto;
  box-sizing: border-box;
  display: block;
}

.go-recipe {
  background: rgb(20, 130, 158);
  color: #ffffff;
  text-decoration: none;
  font-size: 0.75em;
  width: 100%;
  padding: 10px 0;
  margin: 0 auto;
  border-bottom: 4px solid maroon;
  /* border-top-left-radius: 5px;
  border-top-right-radius: 5px; */
  border-radius: 5px;
  box-sizing: border-box;
  display: block;
  /* box-shadow: 1px 1px 1px 1px black */
}

.go-recipe:hover {
  background: #00d9ff;
  border-color: #00d9ff
}

.view-recipe:hover {
  background: rgb(172, 172, 172);
  }

@media all and (max-width: 700px) {
  .view-recipe {
	margin: 5px auto;
	width: 200px
  }

  .modal-content {
    height: 90vh;
    width: 87%;
    margin: 10% auto;
  }

}
