.search {
  background: tomato;
  padding: 7px 0;
  border-bottom: 1px solid black;
}
.search-input {
  font-size: 0.75em;
  width: 60%;
}

.search-button {
  margin-left: 10px;
}
.search-button:hover {
  background: whitesmoke;
  color: darkgray;
  box-shadow: blue;
  border-color: azure;
}

.classname:active {
  position: relative;
  top: 1px;
}

@media all and (max-width: 850px) {
  .search-button:hover {
    background: #ebebeb;
    color: black;
    box-shadow: blue;
    border-color: black;
  }
}
