.search {
  background: tomato;
  padding: 6px 0;
  border-bottom: 1px solid black;
}
.search-input {
  /* background: blueviolet; */
  width: 60%;
}

.search-button {
    margin-left: 10px;
  }
.search-button:hover {
    background: whitesmoke;
    color: darkgray;
    box-shadow: blue;
    border-color: azure
  }
  
.classname:active {
  position: relative;
  top: 1px;
}
