.sidebar{
    grid-column: 1/2;
    grid-row: 1/2;
    border: 1px solid black;
    box-sizing: border-box
}

@media all and (max-width: 850px) {
    .sidebar{
      grid-column: 1/2;
      grid-row: 1/2;
      height: 50vh;
      border-bottom: none
    }
  }